<ion-view view-title="Auto">
	<ion-content class="padding">
		
		<div class="list">
			<a class="item">
				Elemento 1
			</a>
			<a href="" class="item item-icon-left item-icon-right">
				<i class="icon ion-email"></i>
				Elemento
				<i class="icon ion-information-circled"></i>
			</a>
			<a href="" class="item">
				Elemento 1
				<span class="item-note">reservado</span>
			</a>
			<a href="" class="item">
				Elemento 1
				<span class="badge badge-assertive">12</span>
			</a>

			<div class="item item-divider">Divisor</div>
			
			<a href="" class="item item-button-right">
				Elemento 1
				<button class="button button-assertive">info</button>
			</a>
			<a href="" class="item item-button-right">
				Elemento 1
				<button class="button button-assertive">
					<i class="icon ion-person"></i>
				</button>
			</a>
			<a href="" class="item">Elemento 1</a>
			<a href="" class="item">Elemento 1</a>
			<a href="" class="item">Elemento 1</a>
		</div>

	</ion-content>
</ion-view>