<ion-view view-title="Auto">
	
	<ion-nav-buttons side="secondary">
		<button ng-click="data.showReorder = !data.showReorder" class="button button-icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content class="padding">
		
		<ion-list show-reorder="data.showReorder">
			<ion-item ng-repeat="dato in detalles" class="item-thumbnail-left item-text-wrap" ng-click="toggleDescripcion(dato)">
				<img src="img/recortes/{{dato.foto}}">
				<h3>{{dato.titulo}}</h3>
				<p ng-show="!dato.resumido">{{dato.descripcion | limitTo: 85}} {{dato.descripcion.length > 85 ? '&hellip;':''}}</p>
				<p ng-show="dato.resumido">{{dato.descripcion}}</p>
				<ion-reorder-button class="ion-navicon" on-reorder="moveItem(dato, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item>
		</ion-list>
		
	</ion-content>
