<ion-view view-title="Datos">
	<ion-content class="padding">
		<h2>Datos</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum perferendis quia sint a neque officia esse. Voluptatibus eveniet, consequuntur. Ab cumque esse error fuga dignissimos tenetur aliquam facilis, placeat architecto!Dolorum inventore soluta, nesciunt adipisci incidunt at explicabo, eum beatae debitis molestias error quibusdam voluptatibus optio! Porro aspernatur iure impedit voluptatum nemo blanditiis temporibus vero. Saepe laborum delectus, fugit in.</p>
	</ion-content>
	
</ion-view>