<ion-view view-title="Shelby Cobra">
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Shelby Cobra</h1>
  </ion-header-bar>

  <ion-content>
    <div class="card">

      <div class="item item-divider">
        <h2 class="title">Descubre tu coche</h2>
      </div>
      
      <div class="item item-divider">
        <img class="full-image" src="img/img_home.jpg">
      </div>

      <div class="item item-text-wrap">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto explicabo vero blanditiis, corrupti ex, id libero molestiae dolorum sit ut, totam minima in eum minus fuga, ducimus nemo nobis incidunt. 
      </div>
    </div>

  </ion-content>

</ion-view>